
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic');

body {
    background: lightskyblue;
    margin: 0px;


}

main {
    //background: #ffffff;
}


.page-header {
    background: #f4f7f9;
    min-width: 1200px; 
    min-height: 320px;
    
}



.page-header-top {
    display: flex;
    min-width: 1200px; 
    height: 42px;
    background: #293449;
    
}


.page-header-top img {
    display: block;
    width: 115px;
    height: 19px;
    padding: 13px 50px 15px 55px;
      
}


.page-header-logo {
    display: block; 
    width: 220px; 
    height: 42px;
    background-color: #ee3643;
    box-shadow: 0px 5px 0 #B6242f;
    margin: 0px 0px 0px 130px;
    

}

.page-header-logo:hover {
    background: #BB222E;
    box-shadow: 0px 5px 0 #8F1821;

}


.page-header-logo:focus {
    background: #ca2c37;
    box-shadow: 0px 5px 0 #9B1B25;

}





.search-field {
    display: flex;
    min-width: 238px;
    background: #293449;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    margin: 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;

}

.search-field :first-child {
    display: flex;
}




.search-field > label :first-child {
    margin: 12px 15px 13px 17px;
    fill: #ffffff; 
    opacity: 0.3;
    display: flex;
}


.search-field > label :nth-child(2) {
    width: 195px;
    height: 42px;
    background: #293449;
    border: #293449 solid 2px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    
    
}




.search-field > label :hover {
    background:  #212a3a;
    border:  #212a3a solid 2px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;


}

.search-field > label:hover path {
    fill: #ffffff; 
}


.search-field > label :focus {
    background: #ffffff;
    border: #ffffff solid 2px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

}

.search-field > label:first-child:focus path {
    fill: #ee3643;
}


.search-field > input {
    visibility: hidden;
    width: 0px;
    padding: 0px;
}



.page-header-consumer-block {
    list-style-type: none;
    display: flex;
    margin: 0px 130px 0px 17px;
    width: 450px; 
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    padding: 0px;
    
}


.page-header-bookmark svg {
    margin: 12px 13px 14px 17px; 
    opacity: 0.3;
}

.page-header-cart svg {
    margin: 12px 17px 15px 25px;
    opacity: 0.3;

}

.page-header-order {
    background: #63a63e;
    justify-content: center;
}




.page-header-consumer-block a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    height: 42px;
    align-items: center;
    
}

.page-header-consumer-block li {
    flex-grow: 1;
    
}


.page-header-consumer-block a:hover {
    background: #161d29;
    
}


.page-header-consumer-block a:focus {
    background: #212a3a;
    
}

.page-header-bookmark:hover path {
    background-color: #ffffff;
}

.page-header-bookmark:focus path {
    fill: #8C8F95; 
}

.page-header-cart:hover path {
    background-color: #ffffff;
}

.page-header-cart:focus path {
    fill: #8C8F95; 
}




.page-header-consumer-block .page-header-order:hover {
    background: #5fbb2d;
    
}

.page-header-consumer-block .page-header-order:focus {
    background: #518534;
    color: rgba(255, 255, 255, 0.5);
}





.page-header-for-user {
    display: flex;
    justify-content: space-between;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    color: #ffffff;

}


.page-header-for-user a {
    text-decoration: none;
}




.page-header-info {
    display: block;
    width: 197px;
    min-height: 55px;
    color: #ee3643; 
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    margin: 49px 65px 48px 183px;

}



.page-header-contacts /*.header-contacts*/ {
    display: block;
    width: 270px;
    height: 40px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 24px;   
    color: #32425c; 
    margin: 46px 69px 40px 0px;
    
}

.page-header-contacts a {
    display: flex;
    border: solid 3px #ffffff;  
    color: #ee3643; 
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    align-items: center;

    
}

.page-header-contacts svg {
    margin: 13px 40px 13px 15px;
}

.page-header-login  {
    display: flex;
    margin: 25px 130px 45px 0px;
    padding: 0px;
    list-style-type: none;
    align-items: center;
    

}



.page-header-login svg {
    margin: 14px;
}



.login a {
    display: flex;
    border: 5px solid #f4f7f9;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    align-items: center;
    min-width: 115px;
    min-height: 45px;
    background:#ffffff;

}

.registration a {
    display: flex;
    border: 5px solid #f4f7f9;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    align-items: center;
    min-width: 143px;
    min-height: 45px;
    background:#ffffff;
    justify-content: center;

}



.page-header-login a:hover {
    color: #ee3643;
    fill: #2E405C;

}

.page-header-login a:focus {
    color: #c5c5c5;
}





.page-header-navigation {
    display: flex;
    flex-wrap: wrap;
    min-height: 55px;
    background: #32425c;
    box-shadow: 0px 5px 0 #293449;
    list-style-type: none;
    margin: 0px 130px 0px 130px;
    align-items: center;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    padding: 0px;
    

}

.page-header-navigation li {
    flex-grow: 1;
}

.page-header-navigation a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;

    
}


.page-header-navigation a:hover {
    background: #243147;
    color: #ffffff;

}

.page-header-navigation a:focus {
    background: #1d2739; 
    color: rgba(255, 255, 255, 0.5);
    
}





.menu-n-slider {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 50px 120px 53px 120px;
    padding: 0px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    min-width: 963px;
    min-height: 400px;
    justify-content: center;

}



.menu-n-slider a {
    display: block;
    width: 135px;
    height: 38px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    margin: 15px 0 25px 22px;
    text-decoration: none;
}

.menu-n-slider p {
    display: block;
    width: 118px;
    height: 22px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin: 26px 160px 15px 23px;
    color: white;
}

.menu-n-slider-materials {
    min-width: 300px;
    min-height: 123px;
    margin-left: 130px;
    margin: 10px;
    position: relative;
    background:  #ffbf47 url(../img/svg/icon-1.svg) no-repeat 84% 55%;
    
}

.menu-n-slider-materials a {
    background: #E6AD3E;
}


.menu-n-slider-materials img {
    position: absolute;
    bottom: 52%;
    left: 80%;
}

.menu-n-slider-materials:hover {

}

.menu-n-slider-materials:focus {

}


.menu-n-slider-tools {
    min-width: 300px;
    min-height: 123px;
    background: #3bbce3 url(../img/svg/icon-2.svg) no-repeat 88% 55%;;
    margin: 10px;
    
}

.menu-n-slider-tools a {
    background: #32AACD;
}

.menu-n-slider-tools:hover {

}

.menu-n-slider-tools:focus {

}





.menu-n-slider-equipment {
    min-width: 300px;
    min-height: 123px;
    margin-right: 130px; 
    background: #dc91d8 url(..img/svg/icon-3.svg) no-repeat 88% 55%;
    margin: 10px;

}

.menu-n-slider-equipment a {
    background: #C783C3;
}

.menu-n-slider-equipment:hover {

}

.menu-n-slider-equipment:focus {

}




.slider {
    width: 620px;
    height: 266px;
    float: left;
    background: #EFE1D5;
    margin: 10px;
}

.slider ul {
    list-style-type: none;
    padding: 0px;
}

.slide-one {
    position: relative;

}

.slide-one span {
    display: block;
    width: 95px;
    font-size: 31px;
    line-height: 36px;
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    top: 25px;
    left: 22px;

}



.slide-one p {
    display: block;
    width: 145px;
    height: 20px;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 40px;
    line-height: 24px;
    font-weight: normal;

}


.slide-one a {
    display: block;
    min-width: 195px;
    min-height: 38px;
    font-size: 14px;
    background: #ee3643;
    position: absolute;
    top: 190px;
    border-radius: 5px;

}


.slide-two {
    visibility: hidden;
}


.menu-n-slider-sale {
    min-width: 300px;
    min-height: 123px;
    background: #8ed78f url(../img/svg/icon-4.svg) no-repeat 81% 55%;;
    margin: 10px;
    border: 1px solid transparent;

}


.menu-n-slider-sale a {
    background: #81C281;
}

.menu-n-slider-sale:hover {

}

.menu-n-slider-sale:focus {

}


.menu-n-slider-delivery {
    min-width: 300px;
    min-height: 123px;
    background: #ffbf47 url(../img/svg/icon-5.svg) no-repeat 85% 55%;;
    margin: 15px 10px 10px 10px;
    border: 1px solid transparent;

}

.menu-n-slider-delivery a {
    background: #E6AD3E;
}

.menu-n-slider-delivery:hover {

}

.menu-n-slider-delivery:focus {

}



.menu-n-slider-rest ul {
    list-style-type: none;
    padding: 0px;
}

.popular-goods {
    min-width: 940px
    
}

.popular-goods header {
    display: flex;
    background: #f9f5f0;
    margin: 0px 130px 21px 130px;
    min-width: 940px;
    justify-content: center;
    align-items: center;
    height: 89px;
}

.popular-goods header :first-child {
    display: block;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    margin: 33px auto 35px 30px;
    

}


.popular-goods header :last-child {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #ee3643;
    min-width: 253px;
    height: 38px;
    margin: 25px 24px 26px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.popular-goods-list {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-width: 940px;
    justify-content: space-between;
    margin: 0px 130px 21px 130px;

    
}

.popular-goods-list p {
    padding: 0px; 
    text-align: center;
    display: block; 
}

.popular-goods-list h3 {
    padding: 0px;
    text-align: center;
    margin: 0px;
    
}

.popular-goods-list article {
    width: 218px;
    height: 318px;
    position: relative;
    background: #ffffff;
    border: solid 1px #eaeaea;
}



.normal-price {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    //text-align: center;
    color: #a9a9a9;
    text-decoration: line-through; 
}


.sale-price {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    background: #ee3643 url(..img/main/good-btn-main.png);
    //text-align: center;
    //color: #ffffff;
    

}


.popular-goods-list a {
    text-decoration: none;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    //text-align: center;
    color: #000000;

}










.popular-goods-list-new {
    position: relative;
    display: block;
    width: 220px;
    height: 318px;
    background: #ffffff;
    //margin: 10px;
}

.popular-goods-list-new :nth-child(2) {
    position: absolute; 
    position: absolute;
    left: 72.6%;

}







.main-producers-list {
    min-width: 940px;

}


.main-producers-list header {
    display: flex;
    background: #f9f5f0;
    margin: 0px 130px 21px 130px;
    min-width: 940px;
    justify-content: center;
    align-items: center;
    height: 89px;
}


.main-producers-list header :first-child {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    margin: 33px auto 35px 30px;

}


.main-producers-list header :last-child {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
    background: #ee3643;
    width: 253px;
    height: 38px;
    margin: 25px 24px 26px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}



.producers-list {
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 130px 85px 130px;
    min-width: 940px;
    padding: 0px;
}





.producers-list li {
    width: 220px;
    height: 142px;
    position: relative;
    background: #ffffff;
    border: solid 1px #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}








.main-services-list {
    visibility: hidden;
    display: block; 
    min-width: 1200px;
    height: 522px;
    background: #f4f7f9;

}

.main-services-list p {
    font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}



.main-services-list h2 {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    //text-align: left;
    color: #000000;
    text-transform: uppercase;

}

.main-services-list h3 {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    //text-align: left;
    color: #32425c;
    text-transform: uppercase;
   
}


.shipping-service {

}


.warranty-service {

}


.credit-services {

}



.about-us-n-contacts {

}

.about-us-n-contacts h2 {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.about-us-n-contacts p {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.about-us-n-contacts a {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}

.about-us-n-contacts li {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  list-style-image: url(../img/main/list-icon-main.png); 

}



/*каталог*/


.bread-crumbs {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

}

.catalog-title {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;
}


.catalog-price-form {

}

.catalog-price-form span {
    font-size: 13px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}


.price-slider {
    display: block; 
    width: 220px;
    height: 80px;
    border-radius: 5px; 
    background: 
    url(../img/main/price-snake-circ.png) no-repeat 90% 50%,
    url(../img/main/price-snake-circ.png) no-repeat 10% 50%,
    url(../img/main/price-snake-green.png) no-repeat 50% 50%,
    #f7f3ec url(../img/main/price-snake-gray.png) no-repeat 50% 50%;


}

.left-price {

}

.right-price {

}

.catalog-producers {

}

.catalog-producers legend {
    font-size: 17px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.catalog-producers label {
    font-size: 15px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}




.catalog-powering-type {

}

.catalog-powering-type label {
    font-size: 17px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 0.17px;
    text-align: left;
    color: #000000;

}

.catalog-powering-type label {
    font-size: 15px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}



.page-catalog {

}

.page-catalog h2 {
    visibility: hidden;
}

.upper-catalog-menu {

}

.selection-buttons {
    font-size: 13px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

}

.selection-buttons-price {
    font-size: 13px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ee3643;

}

.selection-buttons-price:hover {

}

.selection-buttons-price:focus {

}

.selection-buttons-type {
    font-size: 13px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ee3643;

}

.selection-buttons-type:hover {

}

.selection-buttons-type:focus {

}

.selection-buttons-function {
    font-size: 13px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ee3643;

}

.selection-buttons-function:hover {

}

.selection-buttons-function:focus {

}



.selection-arrows {

}

.less-to-more {

}

.more-to-less {

}

.product-card {
    display: block;
    width: 220px;
    height: 318px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    margin: 20px;
    position: relative; 

}

.product-card h3 {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

}

.product-card:hover {

}




.product-back-side {
    visibility: hidden;
}

.product-back-side a {
    font-size: 14px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.product-card-new {
    display: block;
    width: 220px;
    height: 318px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    margin: 20px;
    position: relative; 

}
.product-card-new img {
    position: absolute;
    top: -0.3%;
    left: 73%;

}

.pagination {
    
}

.pagination a {
    font-size: 13px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.hammer-drill-info {

}

.hammer-drill-info h2 {
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

}

.hammer-drill-info p {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.product-in-cart {
    visibility: hidden;

}

.product-in-cart-options {

}




.page-footer {
    
}


.page-footer-navigation {
    background: #32425c;
    min-width: 1200px;
    height: 193px;
    
}

.page-footer-menu-n-logo {
    display: flex;
}

.page-footer-navigation img {
    display: block;
    width: 138px;
    height: 23px;
    padding: 20px 41px 25px 41px;
      
}


.page-footer-logo {
    display: block; 
    width: 220px; 
    height: 63px;
    /*background-color: #ee3643;
    box-shadow: 0px 5px 0 #B6242f;*/
    background: #ee3643 url(../img/footer/back-footer-logo.png) no-repeat;
    margin: 0px 0px 0px 130px;

}

.page-footer-logo:hover {
    background: #ba2732;
    box-shadow: 0px 5px 0 #9B1B25;

}


.page-footer-logo:focus {
    background: #ca2c37;
    box-shadow: 0px 5px 0 #9B1B25;

}



.footer-menu {
    display: flex;
    min-width: 940px;
    background: #32425c;
    list-style-type: none;
    justify-content: space-between;
    margin: 42px 130px 0px 173px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #f1f5f7;
    padding: 0px; 
    


}

.footer-menu a {
    text-decoration: none;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f1f5f7;

    
    
}


.footer-menu a:hover {
    color: #f1f5f7;
    text-decoration: underline;

}

.footer-menu a:focus {
    color: rgba(241, 245, 247, 0.5); 
    text-decoration: none;

}





.page-footer-info-n-offers {
    display: flex;

}

.page-footer-info-n-offers p {
    font-size: 18px; 
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    color: #f3f7f9;
    display: block;
    width: 335px;
    height: 40px;
    margin: 32px 91px 53px 130px;
}

.page-footer-offers {
    display: flex;
    justify-content: space-between;
    margin: 45px 130px 53px 0px;
    flex-grow: 1;
    padding: 0px;
    list-style: none;
    
}


.page-footer-offers a {
    text-decoration: none;
    color: #ffd180;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.page-footer-offers a:hover {
    color: #ffd180;
    text-decoration: underline;

}

.page-footer-offers a:focus {
    color: rgba(255, 209, 128, 0.5); 
    text-decoration: none;

}





.page-footer-social-n-feedback {
    background: #293449; 
    display: flex;
    min-width: 1200px;
    justify-content: space-between;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;

}



.page-footer-social-n-feedback p {
    display: block;
    width: 255px;
    height: 23px; 
    padding: 0px; 
    color: #ffffff;
    margin: 39px 120px 33px 130px; 
    font-family: "Cuprum", Arial, Helvetica, sans-serif;;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;

}

.page-footer-social-n-feedback a {
    color: #ffd180;
    text-decoration: none;
}

.socialnet-list {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin: 35px 0px 23px 0px;
    padding: 0px;
    
}

.socialnet-list li {
    display: flex;
    width: 42px;
    height: 42px;
    background: #212a3a;
    border-radius: 50%;
    margin: 0px 3px 0px 3px;
}



.socialnet-list li:hover {
    background:#ee3643;
}

.socialnet-list li:focus {
    background: #ee3643;
}

/*.social-button:focus path {
    fill: #000000;
}*/

.socialnet-list :first-child svg {
    margin: 13px 8px 14px 8px;
}

.socialnet-list :nth-child(2) svg {
    margin: 10px 15px 10px 15px;
}

.socialnet-list :nth-child(3) svg {
    margin: 10px 11px 11px 10px;
}

 

.footer-contacts {
    display: flex;
    margin: 40px 145px 33px 119px;

}



.footer-contacts .mail {
    padding: 0px;
    margin: 0px;
    width: 135px;
    height: 32px;
    word-spacing: normal;
    margin-right: 50px;
    color #ffffff;

}

.footer-contacts .url {
    padding: 0px;
    margin: 0px;
    width: 124px;
    height: 34px;
    word-spacing: normal;
    color:#ffffff;
}


.mail a:hover {
    color: #ffd180;
    text-decoration: underline;

}

.mail a:focus {
    color: #ee3643;
    text-decoration: none;

}


.url a:hover {
    color: #ffd180;
    text-decoration: underline;

}

.url a:focus {
    color: #ee3643;
    text-decoration: none;

}


.popup-map {
    visibility: hidden;

}


.popup-form {
    visibility: hidden;

}