body {
    background: lightskyblue;

}



header {

}



nav {

}



.header-top {

}


.header-logo {

}


.header-top-search {

}

.header-top-search input:last-child {
    visibility: hidden;
}


.header-top-tobuy {

}



.header-mid {

}



.header-mid-info {

}



.header-mid-contacts {

}



.header-mid-login {

}


.header-bottom-menu {

}



.main-tile {
    visibility: hidden;

}


.main-slider {
    visibility: hidden;

}


.main-pop-goods {

}

.price {

}


.sale {
    
}


.main-producers {

}


.header-producers {

}


.main-services {
    visibility: hidden;

}


.main-shipping {

}


.main-garant {

}



.main-credit {

}



.pre-footer {

}


.short-inf {

}


.short-contacts {

}


.pop-map {
    visibility: hidden;

}


.pop-form {

}




.bread-crum {

}



.price-spec {

}



.catalag-arrows {

}



.catalog-price-form {

}



.market-goods {

}

.market-goods h2 {
    visibility: hidden;
}


.u-buy-it {
    visibility: hidden;
}


.u-buy-menu {

}



.perfo-info {
    
}



.footer-nav {

}


.footer-nav-two {

}


.footer-bottom {

}


.footer-socnet {

}


.footer-contacts {

}