
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic');

body {
    background: lightskyblue;
    margin: 0px;


}

main {
    //background: #ffffff;
}


.nav-top {
    background: #f4f7f9;
    width: 1200px; 
    height: 320px;
    
}



.header-top {
    display: flex;
    width: 1200px; 
    height: 42px;
    background: #293449;
    
}


.header-top img {
    display: block;
    width: 115px;
    height: 19px;
    padding: 13px 50px 15px 55px;
      
}


.header-logo {
    display: block; 
    width: 220px; 
    height: 42px;
    background-color: #ee3643;
    box-shadow: 0px 5px 0 #B6242f;
    /*background: #ee3643 url(../img/header/back-header-logo.png) no-repeat*/;
    margin: 0px 0px 0px 130px;
    

}

.header-logo:hover {
    background: #BB222E;
    box-shadow: 0px 5px 0 #8F1821;

}


.header-logo:focus {
    background: #ca2c37;
    box-shadow: 0px 5px 0 #9B1B25;

}





.site-search {
    display: flex;
    min-width: 238px;
    background: #293449;
    font-family: Cuprum;
    font-size: 17px;
    color: #ffffff;
    margin: 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;

}

.site-search :first-child {
    display: flex;
}




.site-search > label :first-child {
    margin: 12px 15px 13px 17px;
    fill: #ffffff; 
    opacity: 0.3;
    display: flex;
}


.site-search > label :nth-child(2) {
    width: 195px;
    height: 42px;
    background: #293449;
    border: #293449 solid 2px;
    font-family: Cuprum;
    font-size: 17px;
    color: #ffffff;
    
    
}




.site-search > label :hover {
    background:  #212a3a;
    border:  #212a3a solid 2px;
    font-family: Cuprum;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;


}

.site-search > label:hover path {
    fill: #ffffff; 
}


.site-search > label :focus {
    background: #ffffff;
    border: #ffffff solid 2px;
    font-family: Cuprum;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

}

.site-search > label:first-child:focus path {
    fill: #ee3643;
}


.site-search > input {
    visibility: hidden;
    width: 0px;
    padding: 0px;
}



.header-top-tobuy {
    list-style-type: none;
    display: flex;
    margin: 0px 130px 0px 17px;
    width: 450px; 
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-family: Cuprum;
    font-size: 17px;
    color: #ffffff;
    padding: 0px;
    
}


.bookmark svg {
    margin: 12px 13px 14px 17px; 
    opacity: 0.3;
}

.cart svg {
    margin: 12px 17px 15px 25px;
    opacity: 0.3;

}

.order {
    background: #63a63e;
    justify-content: center;
}




.header-top-tobuy a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    height: 42px;
    align-items: center;
    
}

.header-top-tobuy li {
    flex-grow: 1;
    
}


.header-top-tobuy a:hover {
    background: #161d29;
    
}


.header-top-tobuy a:focus {
    background: #212a3a;
    
}

.bookmark:hover path {
    background-color: #ffffff;
}

.bookmark:focus path {
    fill: #8C8F95; 
}

.cart:hover path {
    background-color: #ffffff;
}

.cart:focus path {
    fill: #8C8F95; 
}




.header-top-tobuy .order:hover {
    background: #5fbb2d;
    
}

.header-top-tobuy .order:focus {
    background: #518534;
    color: rgba(255, 255, 255, 0.5);
}





.header-mid {
    display: flex;
    justify-content: space-between;
    font-family: Cuprum;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    color: #ffffff;

}


.header-mid a {
    text-decoration: none;
}




.header-mid-info {
    display: block;
    width: 197px;
    height: 60px;
    color: #ee3643; 
    font-family: Cuprum;
    font-style: italic;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    margin: 49px 65px 48px 183px;

}



.header-mid-contacts /*.header-contacts*/ {
    display: block;
    width: 270px;
    height: 40px;
    font-family: Cuprum;
    font-size: 14px;
    text-align: center;
    line-height: 24px;   
    color: #32425c; 
    margin: 46px 69px 40px 0px;
    
}

.header-mid-contacts a {
    display: flex;
    border: solid 3px #ffffff;  
    color: #ee3643; 
    font-family: Cuprum;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    align-items: center;
    margin: 0px 0px 8px 0px;

    
}

.header-mid-contacts svg {
    margin: 13px 40px 13px 15px;
}

.header-mid-login /*.header-login*/ {
    display: flex;
    margin: 46px 130px 67px 0px;
    padding: 0px;
    list-style-type: none;
    align-items: center;

}

.header-mid-login svg {
    margin: 14px;
}



.header-mid-login a {
    display: flex;
    border: 5px solid #f4f7f9;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    align-items: center;

}

.header-mid-login li:first-child {
    width: 121px; 
    height: 45px;
    background: #ffffff;
}

.header-mid-login li:nth-child(2) {
    width: 150px; 
    height: 45px;
    background: #ffffff;
}


/*.header-mid-login .login {
    display: block;
    width: 121px;
    height: 45px;
    background: #ffffff;
    
}

.header-mid-login .reg {
    display: block;
    width: 150px;
    height: 45px;
    background: #ffffff;
}*/





.header-mid-login a:hover {
    color: #ee3643;
    fill: #2E405C;

}

.header-mid-login a:focus {
    color: #c5c5c5;
}









.header-bottom-menu /*header-menu*/ {
    display: flex;
    height: 55px;
    background: #32425c;
    box-shadow: 0px 5px 0 #293449;
    list-style-type: none;
    justify-content: space-between;
    margin: 0px 130px 0px 130px;
    align-items: center;
    font-family: Cuprum;
    font-size: 17px;
    color: #ffffff;
    padding: 0px 52px 0px 55px;

}

.header-bottom-menu a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;

    
}


.header-bottom-menu a:hover {
    background: #243147;
    color: #ffffff;

}

.header-bottom-menu a:focus {
    background: #1d2739; 
    color: rgba(255, 255, 255, 0.5);
    
}









.whole-slider /*slider-menu*/ {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 59px 120px 53px 120px;
    padding: 0px;
    font-family: Cuprum; 
    width: 963px;
    height: 400px;

}



.whole-slider a {
    display: block;
    width: 135px;
    height: 38px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 38px;
    margin: 15px 0 25px 22px;
    text-decoration: none;
}

.whole-slider p {
    display: block;
    width: 118px;
    height: 22px;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin: 26px 160px 15px 23px;
    color: white;
}

.slider-firts-wind {
    width: 300px;
    height: 123px;
    margin-left: 130px;
    margin: 10px;
    position: relative;
    background:  #ffbf47 url(../img/svg/icon-1.svg) no-repeat 84% 55%;
    
}

.slider-firts-wind a {
    background: #E6AD3E;
}


.slider-firts-wind img {
    position: absolute;
    bottom: 52%;
    left: 80%;
}

.slider-second-wind {
    width: 300px;
    height: 123px;
    background: #3bbce3 url(../img/svg/icon-2.svg) no-repeat 88% 55%;;
    margin: 10px;
    

}

.slider-second-wind a {
    background: #32AACD;
}


.slider-third-wind {
    width: 300px;
    height: 123px;
    margin-right: 130px; 
    background: #dc91d8 url(..img/svg/icon-3.svg) no-repeat 88% 55%;
    margin: 10px;

}

.slider-third-wind a {
    background: #C783C3;
}

.slider {
    width: 620px;
    height: 266px;
    float: left;
    background: #EFE1D5;
    margin: 10px;
}

.slider ul {
    list-style-type: none;
    padding: 0px;
}

.slide-one {
    position: relative;

}

.slide-one span {
    display: block;
    width: 95px;
    font-size: 31px;
    line-height: 36px;
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    top: 25px;
    left: 22px;

}



.slide-one p {
    display: block;
    width: 145px;
    height: 20px;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 40px;
    line-height: 24px;
    font-weight: normal;

}


.slide-one a {
    display: block;
    width: 195px;
    height: 38px;
    font-size: 14px;
    background: #ee3643;
    position: absolute;
    top: 190px;
    border-radius: 5px;

}


.slide-two {
    visibility: hidden;
}


.slider-fourth-wind {
    width: 300px;
    height: 123px;
    background: #8ed78f url(../img/svg/icon-4.svg) no-repeat 81% 55%;;
    margin: 10px;
    border: 1px solid transparent;

}


.slider-fourth-wind a {
    background: #81C281;
}


.slider-fifth-wind {
    width: 300px;
    height: 123px;
    background: #ffbf47 url(../img/svg/icon-5.svg) no-repeat 85% 55%;;
    margin: 15px 10px 10px 10px;
    border: 1px solid transparent;

}

.slider-fifth-wind a {
    background: #E6AD3E;
}

.slider-double ul {
    list-style-type: none;
    padding: 0px;
}

.popul-goods {
    width: 940px
    
}

.popul-goods header {
    display: flex;
    background: #f9f5f0;
    margin: 0px 130px 21px 130px;
    width: 940px;
    justify-content: center;
    align-items: center;
    height: 89px;
}

.popul-goods header :first-child {
    display: block;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    margin: 33px auto 35px 30px;
    

}


.popul-goods header :last-child {
    font-family: Cuprum;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #ee3643;
    width: 253px;
    height: 38px;
    margin: 25px 24px 26px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.list-pop-goods {
    font-family: PTSans;
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    justify-content: space-between;
    margin: 0px 130px 21px 130px;

    
}

.list-pop-goods p {
    padding: 0px; 
    text-align: center;
    display: block; 
}

.list-pop-goods h3 {
    padding: 0px;
    text-align: center;
    margin: 0px;
    
}

.list-pop-goods article {
    width: 218px;
    height: 318px;
    position: relative;
    background: #ffffff;
    border: solid 1px #eaeaea;
}



.list-pop-goods .price {
    font-family: PTSans;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    //text-align: center;
    color: #a9a9a9;
    text-decoration: line-through; 
}


.list-pop-goods .sale {
    font-family: PTSans;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    background: #ee3643 url(..img/main/good-btn-main.png);
    //text-align: center;
    //color: #ffffff;
    

}


.list-pop-goods a {
    text-decoration: none;
    font-family: PTSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    //text-align: center;
    color: #000000;

}










.list-pop-goods-new {
    position: relative;
    display: block;
    width: 220px;
    height: 318px;
    background: #ffffff;
    //margin: 10px;
}

.list-pop-goods-new :nth-child(2) {
    position: absolute; 
    position: absolute;
    left: 72.6%;

}







.main-producers {
    width: 940px;

}


.main-producers header {
    display: flex;
    background: #f9f5f0;
    margin: 0px 130px 21px 130px;
    width: 940px;
    justify-content: center;
    align-items: center;
    height: 89px;
}


.main-producers header :first-child {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    margin: 33px auto 35px 30px;

}


.main-producers header :last-child {
    font-family: Cuprum;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
    background: #ee3643;
    width: 253px;
    height: 38px;
    margin: 25px 24px 26px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}



.producers-list {
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 130px 85px 130px;
    min-width: 940px;
    padding: 0px;
}





.producers-list li {
    width: 220px;
    height: 142px;
    position: relative;
    background: #ffffff;
    border: solid 1px #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}








.main-services {
    visibility: hidden;
    display: block; 
    width: 1200px;
    height: 522px;
    background: #f4f7f9;

}

.main-services p {
    font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  font-family: PTSans;
}



.main-services h2 {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    //text-align: left;
    color: #000000;
    text-transform: uppercase;

}

.main-services h3 {
    font-family: Cuprum;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    //text-align: left;
    color: #32425c;
    text-transform: uppercase;
   
}





.pre-footer {

}

.pre-footer h2 {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.pre-footer p {
    font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.pre-footer a {
    font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}

.pre-footer li {
    font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  list-style-image: url(../img/main/list-icon-main.png); 

}

.short-inf {

}


.short-contacts {

}







.bread-crum {

}



.price-spec {

}



.catalag-arrows {

}



.catalog-price-form {

}

.catal-prices {

}

.snake {
    display: block; 
    width: 220px;
    height: 80px;
    border-radius: 5px; 
    background: 
    url(../img/main/price-snake-circ.png) no-repeat 90% 50%,
    url(../img/main/price-snake-circ.png) no-repeat 10% 50%,
    url(../img/main/price-snake-green.png) no-repeat 50% 50%,
    #f7f3ec url(../img/main/price-snake-gray.png) no-repeat 50% 50%;
}


.market-goods {

}

.market-goods h2 {
    visibility: hidden;
}

.buy-menu-hid {
    visibility: hidden;
}

.example-card {
    display: block;
    width: 220px;
    height: 318px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    margin: 20px;
    position: relative; 
}

.example-card img {
    position: absolute;
    top: -0.3%;
    left: 73%;

}


.u-buy-it-pop {
    visibility: hidden;
}


.u-buy-menu {

}



.perfo-info {
    
}

.nav-bottom {
    background: #32425c;
    width: 1200px;
    height: 193px;
    
}

.footer-nav-top {
    display: flex;
}

.nav-bottom img {
    display: block;
    width: 138px;
    height: 23px;
    padding: 20px 41px 25px 41px;
      
}


.footer-logo {
    display: block; 
    width: 220px; 
    height: 63px;
    /*background-color: #ee3643;
    box-shadow: 0px 5px 0 #B6242f;*/
    background: #ee3643 url(../img/footer/back-footer-logo.png) no-repeat;
    margin: 0px 0px 0px 130px;

}

.footer-logo:hover {
    background: #ba2732;
    box-shadow: 0px 5px 0 #9B1B25;

}


.footer-logo:focus {
    background: #ca2c37;
    box-shadow: 0px 5px 0 #9B1B25;

}



.footer-nav {
    display: flex;
    width: 940px;
    background: #32425c;
    list-style-type: none;
    justify-content: space-between;
    margin: 42px 130px 0px 173px;
    font-family: Cuprum;
    font-size: 18px;
    color: #f1f5f7;
    padding: 0px; 
    


}

.footer-nav a {
    text-decoration: none;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f1f5f7;

    
    
}


.footer-nav a:hover {
    color: #f1f5f7;
    text-decoration: underline;

}

.footer-nav a:focus {
    color: rgba(241, 245, 247, 0.5); 
    text-decoration: none;

}





.footer-nav-mid {
    display: flex;

}

.footer-nav-mid p {
    font-size: 18px; 
    font-family: Cuprum;
    color: #f3f7f9;
    display: block;
    width: 335px;
    height: 40px;
    margin: 32px 91px 53px 130px;
}

.footer-nav-two {
    display: flex;
    justify-content: space-between;
    margin: 45px 130px 53px 0px;
    flex-grow: 1;
    padding: 0px;
    list-style: none;
    
}


.footer-nav-two a {
    text-decoration: none;
    color: #ffd180;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.footer-nav-two a:hover {
    color: #ffd180;
    text-decoration: underline;

}

.footer-nav-two a:focus {
    color: rgba(255, 209, 128, 0.5); 
    text-decoration: none;

}





.footer-bottom {
    background: #293449; 
    display: flex;
    width: 1200px;
    justify-content: space-between;
    font-family: Cuprum;

}



.footer-bottom p {
    display: block;
    width: 255px;
    height: 23px; 
    padding: 0px; 
    color: #ffffff;
    margin: 39px 120px 33px 130px; 
    font-family: Cuprum;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;

}

.footer-bottom a {
    color: #ffd180;
    text-decoration: none;
}

.socnet-list {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin: 35px 0px 23px 0px;
    padding: 0px;
    
}

.socnet-list li {
    display: flex;
    width: 42px;
    height: 42px;
    background: #212a3a;
    border-radius: 50%;
    margin: 0px 3px 0px 3px;
}



.socnet-list li:hover {
    background:#ee3643;
}

.socnet-list li:focus {
    background: #ee3643;
}

/*.social-button:focus path {
    fill: #000000;
}*/

.socnet-list :first-child svg {
    margin: 13px 8px 14px 8px;
}

.socnet-list :nth-child(2) svg {
    margin: 10px 15px 10px 15px;
}

.socnet-list :nth-child(3) svg {
    margin: 10px 11px 11px 10px;
}

 

.footer-contacts {
    display: flex;
    margin: 40px 145px 33px 119px;

}



.footer-contacts .mail {
    padding: 0px;
    margin: 0px;
    width: 135px;
    height: 32px;
    word-spacing: normal;
    margin-right: 50px;
    color #ffffff;

}

.footer-contacts .url {
    padding: 0px;
    margin: 0px;
    width: 124px;
    height: 34px;
    word-spacing: normal;
    color:#ffffff;
}


.mail a:hover {
    color: #ffd180;
    text-decoration: underline;

}

.mail a:focus {
    color: #ee3643;
    text-decoration: none;

}


.url a:hover {
    color: #ffd180;
    text-decoration: underline;

}

.url a:focus {
    color: #ee3643;
    text-decoration: none;

}


.pop-map {
    visibility: hidden;

}


.pop-form {
    visibility: hidden;

}